
            <div class='card Salgado'>
                <img src='app/view/html/img/cards/empadadefrango.jpg'>
                <div>
                    <h2>Empada de Frango</h2>
                    <h3>Recheio de frango</h3>
                    <span>R$ 8.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=1&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Salgado'>
                <img src='app/view/html/img/cards/pasteldefrango.jpg'>
                <div>
                    <h2>Pastel de Frango</h2>
                    <h3>Recheio de Frango</h3>
                    <span>R$ 10.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=2&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Salgado'>
                <img src='app/view/html/img/cards/pasteldecarne.jpg'>
                <div>
                    <h2>Pastel de Carne</h2>
                    <h3>Recheio de Boi</h3>
                    <span>R$ 10.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=3&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Salgado'>
                <img src='app/view/html/img/cards/coxinhadefrango.jpg'>
                <div>
                    <h2>Coxinha de Frango</h2>
                    <h3>Frango</h3>
                    <span>R$ 8.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=4&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Salgado'>
                <img src='app/view/html/img/cards/coxinhadecharque.jpg'>
                <div>
                    <h2>Coxinha de Charque</h2>
                    <h3>Charque</h3>
                    <span>R$ 9.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=5&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Salgado'>
                <img src='app/view/html/img/cards/paopizza.jpg'>
                <div>
                    <h2>Pão Pizza</h2>
                    <h3>Pão com sabor Pizza</h3>
                    <span>R$ 10.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=6&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Salgado'>
                <img src='app/view/html/img/cards/paodequeijo.jpg'>
                <div>
                    <h2>Pão de Queijo</h2>
                    <h3>Pão sabor queijo com cobertura de queijo ralado</h3>
                    <span>R$ 11.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=7&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Bebida'>
                <img src='app/view/html/img/cards/guaranaantartica.jpg'>
                <div>
                    <h2>Guaraná Antartica</h2>
                    <h3></h3>
                    <span>R$ 5.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=8&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            
            <div class='card Bebida'>
                <img src='app/view/html/img/cards/cocazero.jpg'>
                <div>
                    <h2>Coca-Cola Zero</h2>
                    <h3></h3>
                    <span>R$ 5.00</span>
                    <br>                   
                    <a href='carrinho.php?Cod=9&Qt=1'><input type='button' value='Comprar' class='comprar' id='comprar'></a>
                </div>
            </div>

            