
            <div class='CardCarrinho'>
                <div class='Prod'>
                    <h3 class='Cod'>Cod: 3 </h3>
                    <h3 class='ProdName'>Pastel de Carne</h3>
                    <h4 class='Price'>R$ 10.00</h4>
                </div>
                <div class='QuantCompra'>
                    <div class='QuantItens'>
                        <label for='Quantidade'><h4>Quant</h4></label>
                        <div class='QuantProd'>
                            <span id='Diminuir' class='Diminuir'> < </span>
                            <input type='text' name='Quant' id='Quantidade' class='Quantidade' value='1' readonly>
                            <span id='Aumentar' class='Aumentar'> > </span>
                        </div>
                    </div>
                    <div class='QuantEstoque'>
                        <h4>Estoque</h4>
                        <p>3</p>
                    </div>
                </div>
            </div>
            
            