<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <link rel="stylesheet" href="app/view/html/css/style.css">
    <link rel="stylesheet" href="app/view/html/css/media-query.css">
    <link rel="stylesheet" href="app/view/html/css/cards.css">
    <link rel="stylesheet" href="app/view/html/css/media-query-cards.css">
</head>
<body>
   {{Header}}
   <div class="menu-cardapio">
        <aside class="lateral">
            <h4 id="filter">Filtros</h4>
            <ul class="menu-lateral" id="menu-lateral">
                <li class="menu-lateral-item"><p><span id="item-salgado">Salgados({{QuantidadeSalgados}})</span></p></li>
                <li class="menu-lateral-item"><p><span id="item-bebida">Bebidas({{QuantidadeBedidas}})</span></p></li>
                <li class="menu-lateral-item"><p> <span id="item-doces">Doces({{QuantidadeDoces}})</span></p></li>
                <li class="menu-lateral-item"><p><span id="item-sobremesa">Sobremesas({{QuantidadeSobremesas}})</span></p></li>
                <li class="menu-lateral-item"><p><span id="all-itens">Todos</span></p></li>
            </ul>
        </aside>
        <section class="allcards">
            {{Body}}
        </section>
   </div>
   {{Footer}}

   <script src="app/view/html/js/menu.js"></script>
</body>
</html>