<header class="container-fluid bg-secondary text-center">
    <div class="row">
        <div class="col-xl-4">
            
        </div>
        <div class="col-xl-4">
            
        </div>
        <div class="col-xl-4 mt-4 text-right">
            <img src="app/view/html/img/User.png" width="50vh" height="40vh">
            <a href="#" class="link-light float-center" style="text-decoration: none;">{{Usuario}}</a>
        </div>
    </div>
    <a href="http://localhost/Cafeteria-Gourmet/"><img src="app/view/html/img/Logo.png" class="rounded" width="200vh" height="200vh"></a>
    <nav class="navbar navbar-expand justify-content-center">
        <div>
            <ul class="pl-3 navbar-nav">
                <li class="nav-item">
                    <a href="http://localhost/Cafeteria-Gourmet/" class="nav-link enable"><p class="text-white p-0 m-0">Home</p></a>
                </li>
                <li class="nav-item">
                    <a href="http://localhost/Cafeteria-Gourmet/cardapio.php" class="nav-link enable"><p class="text-white p-0 m-0">Cardápio</p></a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link enable"><p class="text-white p-0 m-0">Sobre</p></a>
                </li>
            </ul>
        </div>
    </nav>
</header>