<header class="header">
    <div class="user">
        <img src="app/view/html/img/User.png" width="50vh" height="40vh">
        <a href="http://192.168.0.5/Cafeteria-Gourmet/login.php" id="LoginUser">{{User}}</a>
    </div>
    <br><br><br>
    <div class="logo">
        <a href="http://192.168.0.5/Cafeteria-Gourmet/"><img src="app/view/html/img/Logo.png" width="200vh" height="200vh"></a>
    </div>
    <nav id="menu"class="nav">
            <ul class="navbar">
                <li class="item">
                    <a href="http://192.168.0.5/Cafeteria-Gourmet/"><p>Home</p></a>
                </li>
                <li class="item">
                    <a href="http://192.168.0.5/Cafeteria-Gourmet/cardapio.php" ><p>Cardápio</p></a>
                </li>
                <li class="item">
                    <a href="#"><p>Sobre</p></a>
                </li>
            </ul>
    </nav>
</header>