<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="app/view/html/css/style.css">
    <link rel="stylesheet" href="app/view/html/css/media-query.css">
</head>
<body>
    {{Header}}
    <section class="body">
        <div class="p1">
            <div>
                <p> No Borcelle Coffee Shop, acreditamos que uma boa experiência vai além do paladar. Nossa atmosfera acolhedora e envolvente convida você a relaxar, socializar ou simplesmente apreciar um momento de tranquilidade. O aroma do café fresco permeia o ambiente, criando uma sensação de aconchego que o fará se sentir em casa.
                </p>
            </div>
            
            <div>
                <img src="app/view/html/img/Cafeteria-Interior.jpg"/>
            </div>
        </div>
        
        <div class="p2">
            <div id="textsecondary">
                <p >
                    Cada xícara de café que servimos é uma obra de arte em si. Nossos baristas são verdadeiros artistas, dedicados a extrair o melhor de cada grão. Do espresso encorpado ao cappuccino cremoso, cada gole é uma jornada de sabor e aroma que o transportará para novos patamares de apreciação do café.
                </p>
            </div>
            <div>
                <img src="app/view/html/img/graos-cafe.jpg" >
            </div>

            <div id="textprimary">
                <p >
                    Cada xícara de café que servimos é uma obra de arte em si. Nossos baristas são verdadeiros artistas, dedicados a extrair o melhor de cada grão. Do espresso encorpado ao cappuccino cremoso, cada gole é uma jornada de sabor e aroma que o transportará para novos patamares de apreciação do café.
                </p>
            </div>
        </div>

        <div class="p3">
            <div>
                <p>
                    Nossos cardápios foram cuidadosamente elaborados para atender a todos os gostos e preferências. Desde os nossos pães artesanais até os bolos e sobremesas irresistíveis, cada item é preparado com ingredientes frescos e paixão pela culinária. Oferecemos opções para vegetarianos, veganos e intolerantes ao glúten, garantindo que todos possam desfrutar da nossa deliciosa variedade de pratos.
                </p>
            </div>

            <div >
                <img src="app/view/html/img/cafe.jpg"  >
            </div>
        </div>
    </section>
    {{Footer}}

    <script src="app/view/html/js/menu.js"></script>
</body>
</html>