<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="app/view/html/css/login.css">
</head>
<body>
    <section class="login">
        <form action="http://192.168.0.5/Cafeteria-Gourmet/" method="post" class="form-login">
            <img src="app/view/html/img/login/login.png" class="logo">
            <br> <br>
            <label for="tbuser" id="label-login">Login:</label>
            <input type="text" name="tbuser" id="imlogin" placeholder="Usuário">
            <br>
            <label for="tbpass">Password: </label>
            <input type="text" name="tbpass" id="imlogin" placeholder="Senha">
            <br><br>
            <input type="submit" value="Realizar Login" id="btn-login">
        </form>
    </section>
</body>
</html>