<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação de Pagamento</title>
    <link rel="stylesheet" href="app/view/html/css/style.css">
    <link rel="stylesheet" href="app/view/html/css/media-query.css">
    <link rel="stylesheet" href="app/view/html/css/pagamento.css">
</head>
<body>
    {{Header}}
    <section class="body-pagamento">
        {{BodyPagamento}}
    </section>
    {{Footer}}
    <script src="app/view/html/js/pagamento_confirm.js"></script>
</body>
</html>