<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel</title>
    <link rel="stylesheet" href="app/view/html/css/style.css">
    <link rel="stylesheet" href="app/view/html/css/media-query.css">
    <link rel="stylesheet" href="app/view/html/css/painel.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
   {{Header}}
   {{Body}}
   {{Footer}}
   <script src="app/view/html/js/addproduto.js"></script>
   <script src="app/view/html/js/painel.js"></script>
</body>
</html>